<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CRS Calculator</key>
	<array>
		<dict>
			<key>factorTitle</key>
			<string>Age</string>
			<key>factorSactions</key>
			<array>
				<dict>
					<key>title</key>
					<string>Select your age</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>17</string>
							<key>score</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>18</string>
							<key>score</key>
							<string>90</string>
						</dict>
						<dict>
							<key>title</key>
							<string>19</string>
							<key>score</key>
							<string>95</string>
						</dict>
						<dict>
							<key>title</key>
							<string>20</string>
							<key>score</key>
							<string>100</string>
						</dict>
						<dict>
							<key>title</key>
							<string>21</string>
							<key>score</key>
							<string>100</string>
						</dict>
						<dict>
							<key>title</key>
							<string>22</string>
							<key>score</key>
							<string>100</string>
						</dict>
						<dict>
							<key>title</key>
							<string>23</string>
							<key>score</key>
							<string>100</string>
						</dict>
						<dict>
							<key>title</key>
							<string>24</string>
							<key>score</key>
							<string>100</string>
						</dict>
						<dict>
							<key>title</key>
							<string>25</string>
							<key>score</key>
							<string>100</string>
						</dict>
						<dict>
							<key>title</key>
							<string>26</string>
							<key>score</key>
							<string>100</string>
						</dict>
						<dict>
							<key>title</key>
							<string>27</string>
							<key>score</key>
							<string>100</string>
						</dict>
						<dict>
							<key>title</key>
							<string>28</string>
							<key>score</key>
							<string>100</string>
						</dict>
						<dict>
							<key>title</key>
							<string>29</string>
							<key>score</key>
							<string>100</string>
						</dict>
						<dict>
							<key>title</key>
							<string>30</string>
							<key>score</key>
							<string>95</string>
						</dict>
						<dict>
							<key>title</key>
							<string>31</string>
							<key>score</key>
							<string>90</string>
						</dict>
						<dict>
							<key>title</key>
							<string>32</string>
							<key>score</key>
							<string>85</string>
						</dict>
						<dict>
							<key>title</key>
							<string>33</string>
							<key>score</key>
							<string>80</string>
						</dict>
						<dict>
							<key>title</key>
							<string>34</string>
							<key>score</key>
							<string>75</string>
						</dict>
						<dict>
							<key>title</key>
							<string>35</string>
							<key>score</key>
							<string>70</string>
						</dict>
						<dict>
							<key>title</key>
							<string>36</string>
							<key>score</key>
							<string>65</string>
						</dict>
						<dict>
							<key>title</key>
							<string>37</string>
							<key>score</key>
							<string>60</string>
						</dict>
						<dict>
							<key>title</key>
							<string>38</string>
							<key>score</key>
							<string>55</string>
						</dict>
						<dict>
							<key>title</key>
							<string>39</string>
							<key>score</key>
							<string>50</string>
						</dict>
						<dict>
							<key>title</key>
							<string>40</string>
							<key>score</key>
							<string>45</string>
						</dict>
						<dict>
							<key>title</key>
							<string>41</string>
							<key>score</key>
							<string>35</string>
						</dict>
						<dict>
							<key>title</key>
							<string>42</string>
							<key>score</key>
							<string>25</string>
						</dict>
						<dict>
							<key>title</key>
							<string>43</string>
							<key>score</key>
							<string>15</string>
						</dict>
						<dict>
							<key>title</key>
							<string>44</string>
							<key>score</key>
							<string>5</string>
						</dict>
						<dict>
							<key>title</key>
							<string>45 +</string>
							<key>score</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>factorTitle</key>
			<string>Education</string>
			<key>factorSactions</key>
			<array>
				<dict>
					<key>title</key>
					<string>Overall Education</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>Less than secondary school (high school)</string>
							<key>score</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Secondary diploma (high school graduation)</string>
							<key>score</key>
							<string>28</string>
						</dict>
						<dict>
							<key>title</key>
							<string>One-year degree, diploma or certificate from a university, college, trade or technical school, or other institute</string>
							<key>score</key>
							<string>84</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Two-year program at a university, college, trade or technical school, or other institute</string>
							<key>score</key>
							<string>91</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Bachelor&apos;s degree OR a three or more year program at a university, college, trade or technical school, or other institute</string>
							<key>score</key>
							<string>112</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Two or more certificates, diplomas, or degrees. One must be for a program of three or more years</string>
							<key>score</key>
							<string>119</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Master&apos;s degree, OR professional degree needed to practice in a licensed profession (For “professional degree,” the degree program must have been in: medicine, veterinary medicine, dentistry, optometry, law, chiropractic medicine, or pharmacy.)</string>
							<key>score</key>
							<string>126</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Doctoral level university degree (Ph.D.)</string>
							<key>score</key>
							<string>140</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Canadian Education</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>Secondary High School</string>
							<key>score</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>1 or 2 year degree or diploma</string>
							<key>score</key>
							<string>15</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Degree, diploma or certificate of 3 years or longer or a Master’s profession or Doctoral degree of at least 1 academic year</string>
							<key>score</key>
							<string>30</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>factorTitle</key>
			<string>Language</string>
			<key>factorSactions</key>
			<array>
				<dict>
					<key>title</key>
					<string>Primary</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>IELTS</string>
							<key>scoreLevels</key>
							<array>
								<string>0 -3.5</string>
								<string>4-4.5</string>
								<string>5</string>
								<string>5.5</string>
								<string>6</string>
								<string>6.5</string>
								<string>7</string>
								<string>7.5-9</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>CELPIP</string>
							<key>scoreLevels</key>
							<array>
								<string>M, 0-3</string>
								<string>4</string>
								<string>5</string>
								<string>6</string>
								<string>7</string>
								<string>8</string>
								<string>9</string>
								<string>10-12</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>TEF Canada</string>
							<key>scoreLevels</key>
							<array>
								<string>0-180</string>
								<string>181-225</string>
								<string>226-270</string>
								<string>271-309</string>
								<string>310-348</string>
								<string>349-370</string>
								<string>371-392</string>
								<string>393-450</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>TCF Canada</string>
							<key>scoreLevels</key>
							<array>
								<string>0-3</string>
								<string>4-5</string>
								<string>6</string>
								<string>7-9</string>
								<string>10-11</string>
								<string>12-13</string>
								<string>14-15</string>
								<string>16-20</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Secondary</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>IELTS</string>
							<key>scoreLevels</key>
							<array>
								<string>0 -3.5</string>
								<string>4-4.5</string>
								<string>5</string>
								<string>5.5</string>
								<string>6</string>
								<string>6.5</string>
								<string>7</string>
								<string>7.5-9</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>CELPIP</string>
							<key>scoreLevels</key>
							<array>
								<string>M, 0-3</string>
								<string>4</string>
								<string>5</string>
								<string>6</string>
								<string>7</string>
								<string>8</string>
								<string>9</string>
								<string>10-12</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>TEF Canada</string>
							<key>scoreLevels</key>
							<array>
								<string>0-180</string>
								<string>181-225</string>
								<string>226-270</string>
								<string>271-309</string>
								<string>310-348</string>
								<string>349-370</string>
								<string>371-392</string>
								<string>393-450</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>TCF Canada</string>
							<key>scoreLevels</key>
							<array>
								<string>0-3</string>
								<string>4-5</string>
								<string>6</string>
								<string>7-9</string>
								<string>10-11</string>
								<string>12-13</string>
								<string>14-15</string>
								<string>16-20</string>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>factorTitle</key>
			<string>Work Experience</string>
			<key>factorSactions</key>
			<array>
				<dict>
					<key>title</key>
					<string>Canadian Experience</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>None or less than a year</string>
							<key>score</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>1 year</string>
							<key>score</key>
							<string>35</string>
						</dict>
						<dict>
							<key>title</key>
							<string>2 years</string>
							<key>score</key>
							<string>46</string>
						</dict>
						<dict>
							<key>title</key>
							<string>3 years</string>
							<key>score</key>
							<string>56</string>
						</dict>
						<dict>
							<key>title</key>
							<string>4 years</string>
							<key>score</key>
							<string>63</string>
						</dict>
						<dict>
							<key>title</key>
							<string>5 years or more</string>
							<key>score</key>
							<string>70</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Foreign Experience</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>No foreign work experience</string>
							<key>score</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>1 or 2 years of foreign work experience</string>
							<key>score</key>
							<string>13</string>
						</dict>
						<dict>
							<key>title</key>
							<string>3 years or more of foreign work experience</string>
							<key>score</key>
							<string>25</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Inside Canada</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>Secondary High School</string>
							<key>score</key>
							<string>28</string>
						</dict>
						<dict>
							<key>title</key>
							<string>1 or 2 year degree or diploma</string>
							<key>score</key>
							<string>84</string>
						</dict>
						<dict>
							<key>title</key>
							<string>3+ years</string>
							<key>score</key>
							<string>91</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>factorTitle</key>
			<string>Additional Points</string>
			<key>factorSactions</key>
			<array>
				<dict>
					<key>title</key>
					<string>Choose your LMIA job offer below</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>NOC - 00</string>
							<key>score</key>
							<string>200</string>
						</dict>
						<dict>
							<key>title</key>
							<string>NOC - O/A/B</string>
							<key>score</key>
							<string>50</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Do you have a brother or sister living 
in Canada who is PR/Citizen?</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>Yes</string>
							<key>score</key>
							<string>15</string>
						</dict>
						<dict>
							<key>title</key>
							<string>No</string>
							<key>score</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Do you have a letter of nomination
from province?</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>Yes</string>
							<key>score</key>
							<string>600</string>
						</dict>
						<dict>
							<key>title</key>
							<string>No</string>
							<key>score</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>factorTitle</key>
			<string>Spouse Education</string>
			<key>factorSactions</key>
			<array>
				<dict>
					<key>title</key>
					<string>Overall Education</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>Less than secondary school (high school)</string>
							<key>score</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Secondary school (high school graduation)</string>
							<key>score</key>
							<string>2</string>
						</dict>
						<dict>
							<key>title</key>
							<string>One-year program at a university, college, trade or technical school, or another institute</string>
							<key>score</key>
							<string>6</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Two-year program at a university, college, trade or technical in school, or other institute</string>
							<key>score</key>
							<string>7</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Bachelor&apos;s degree OR a three or more year program at a university, college, trade or technical school, or other institutes</string>
							<key>score</key>
							<string>8</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Two or more certificates, diplomas, or degrees. One must be for a program of three or more years</string>
							<key>score</key>
							<string>9</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Master&apos;s degree, or professional degree needed to practice in a licensed profession (For “professional degree”, the degree program must have been in: medicine, veterinary medicine, dentistry, optometry, law, chiropractic medicine, or pharmacy.)</string>
							<key>score</key>
							<string>10</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Doctoral level university degree (Ph.D.)</string>
							<key>score</key>
							<string>10</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Canadian Education</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>Secondary High School</string>
							<key>score</key>
							<string>28</string>
						</dict>
						<dict>
							<key>title</key>
							<string>1 or 2 year degree or diploma</string>
							<key>score</key>
							<string>84</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Degree, diploma or certificate of 3 years or longer or a Master’s profession or Doctoral degree of at least 1 academic year</string>
							<key>score</key>
							<string>91</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>factorTitle</key>
			<string>Spouse Language</string>
			<key>factorSactions</key>
			<array>
				<dict>
					<key>title</key>
					<string>Primary</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>IELTS</string>
							<key>scoreLevels</key>
							<array>
								<string>0 -3.5</string>
								<string>4-4.5</string>
								<string>5</string>
								<string>5.5</string>
								<string>6</string>
								<string>6.5</string>
								<string>7</string>
								<string>7.5-9</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>CELPIP</string>
							<key>scoreLevels</key>
							<array>
								<string>M, 0-3</string>
								<string>4</string>
								<string>5</string>
								<string>6</string>
								<string>7</string>
								<string>8</string>
								<string>9</string>
								<string>10-12</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>TEF Canada</string>
							<key>scoreLevels</key>
							<array>
								<string>0-180</string>
								<string>181-225</string>
								<string>226-270</string>
								<string>271-309</string>
								<string>310-348</string>
								<string>349-370</string>
								<string>371-392</string>
								<string>393-450</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>TCF Canada</string>
							<key>scoreLevels</key>
							<array>
								<string>0-3</string>
								<string>4-5</string>
								<string>6</string>
								<string>7-9</string>
								<string>10-11</string>
								<string>12-13</string>
								<string>14-15</string>
								<string>16-20</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Secondary</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>IELTS</string>
							<key>scoreLevels</key>
							<array>
								<string>0 -3.5</string>
								<string>4-4.5</string>
								<string>5</string>
								<string>5.5</string>
								<string>6</string>
								<string>6.5</string>
								<string>7</string>
								<string>7.5-9</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>CELPIP</string>
							<key>scoreLevels</key>
							<array>
								<string>M, 0-3</string>
								<string>4</string>
								<string>5</string>
								<string>6</string>
								<string>7</string>
								<string>8</string>
								<string>9</string>
								<string>10-12</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>TEF Canada</string>
							<key>scoreLevels</key>
							<array>
								<string>0-180</string>
								<string>181-225</string>
								<string>226-270</string>
								<string>271-309</string>
								<string>310-348</string>
								<string>349-370</string>
								<string>371-392</string>
								<string>393-450</string>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>TCF Canada</string>
							<key>scoreLevels</key>
							<array>
								<string>0-3</string>
								<string>4-5</string>
								<string>6</string>
								<string>7-9</string>
								<string>10-11</string>
								<string>12-13</string>
								<string>14-15</string>
								<string>16-20</string>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>factorTitle</key>
			<string>Spouse Experience</string>
			<key>factorSactions</key>
			<array>
				<dict>
					<key>title</key>
					<string>Canadian Experience</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>None or less than a year</string>
							<key>score</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>1 year</string>
							<key>score</key>
							<string>5</string>
						</dict>
						<dict>
							<key>title</key>
							<string>2 years</string>
							<key>score</key>
							<string>7</string>
						</dict>
						<dict>
							<key>title</key>
							<string>3 years</string>
							<key>score</key>
							<string>8</string>
						</dict>
						<dict>
							<key>title</key>
							<string>4 years</string>
							<key>score</key>
							<string>9</string>
						</dict>
						<dict>
							<key>title</key>
							<string>5 years or more</string>
							<key>score</key>
							<string>10</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Foreign Experience</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>No foreign work experience</string>
							<key>score</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>1 or 2 years of foreign work experience</string>
							<key>score</key>
							<string>13</string>
						</dict>
						<dict>
							<key>title</key>
							<string>3 years or more of foreign work experience</string>
							<key>score</key>
							<string>25</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Inside Canada</string>
					<key>value</key>
					<array>
						<dict>
							<key>title</key>
							<string>Secondary High School</string>
							<key>score</key>
							<string>28</string>
						</dict>
						<dict>
							<key>title</key>
							<string>1 or 2 year degree or diploma</string>
							<key>score</key>
							<string>84</string>
						</dict>
						<dict>
							<key>title</key>
							<string>3+ years</string>
							<key>score</key>
							<string>91</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
